html {
    font-size: 62.5%; // 1rem is 10px
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

@import "./layout.scss";
@import "./header_nav_bar.scss";
@import "./sign_in.scss";
@import "./sign_up.scss";
